.st0 {
  fill: #185c37;
}
.st1 {
  fill: #21a366;
}
.st2 {
  fill: #107c41;
}
.st3 {
  opacity: 0.1;
  enable-background: new;
}
.st4 {
  opacity: 0.2;
  enable-background: new;
}
.st5 {
  fill: url(#SVGID_1_);
}
.st6 {
  fill: #ffffff;
}
.st7 {
  fill: #33c481;
}
