.subheader {
  .vdp-datepicker {
    .form-control {
      background-color: #F3F6F9 !important;
      height: calc(1.35em + 1.1rem + 2px);
      border: none;
      text-align: center;
    }

    .vdp-datepicker__calendar .cell.selected {
      background: #e1f0ff!important;
      color: #3699ff!important;
    }

    .vdp-datepicker__calendar {
      border-radius: .42rem;
      border: 0 solid rgba(0,0,0,.15);
      box-shadow: 0 0 50px 0 rgba(82,63,105,.15);
      right: 0;
    }

    .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
      background: #f3f6f9;
      color: #3f4254;
      border: 1px solid #f3f6f9;
    }

    .vdp-datepicker__calendar header .next:after {
      border-left: 10px solid #3F4254;
    }

    .vdp-datepicker__calendar header .prev:after {
      border-right: 10px solid #3F4254;
    }

  }
}